# Vercel Environment Variables
# ---------------------------
# Copy/Paste these into the Vercel Dashboard for the Frontend project

VITE_FLOW_NETWORK=testnet
VITE_CONTRACT_ADDRESS=0x407c9218dcdf3589
VITE_BACKEND_URL=https://floats-production.up.railway.app
